body {
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
  margin: 0;
  font-family: 'Varela Round', sans-serif;
  background-image: url("background.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 100px;
  padding-bottom: 500px;
  cursor: url('cursor-normal.cur'), auto;
}

h1 {
  font-size: 70px;
  color: aquamarine;
}

h2 {
  color: aquamarine;
}

h3 {
  color: white;
}

a {
  color: mediumaquamarine;
  text-decoration: underline;
  text-decoration-color: mediumaquamarine;
}

.download-button button {
  color: white;
  background-color: #333;
  font-size: 20px;
  border: 4px solid black;
  border-radius: 15px;
  transition: 0.3s ease all;
  font-weight: bold;
  padding: 10px 30px;
}

.download-button button:hover {
  color: white;
  background-color: #252525;
  cursor: url('cursor-link.cur'), auto;
}

.downloads {
  width: 80%;
  background: #333;
  border-radius: 20px;
  height: 500px;
}

.downloads a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  background: #fe2a2a;
  padding: 5px;
  border-radius: 10px;
  margin-left: 200px;
}

.downloads p {
  float: left;
  color: white;
  font-size: 40px;
  font-weight: bold;
  margin: 20px;
}

.downloads button {
  color: white;
  background-color: #333;
  font-size: 20px;
  border: 4px solid black;
  border-radius: 15px;
  transition: 0.3s ease all;
  font-weight: bold;
  padding: 10px 30px;
}

.downloads button:hover {
  color: white;
  background-color: #252525;
  cursor: url('cursor.cur'), auto;
}